:root {
    --bg: #D8D0F1;
    --fg: #1F1E5E;
    --img-fg: invert(13%) sepia(40%) saturate(2923%) hue-rotate(225deg) brightness(94%) contrast(102%);
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    font-size: 16px;
}

@media (prefers-color-scheme: dark) {
    /* Only applies in dark mode */
    :root {
        --bg: #181546;
        --fg: #D8D0F1;
        --img-fg: invert(86%) sepia(9%) saturate(911%) hue-rotate(208deg) brightness(99%) contrast(90%);
    }
}

@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }

.recolorsvg {
    filter: var(--img-fg);
}

body {
    display: flex;
    height: 100dvh;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: var(--bg);
    overflow: hidden;
    margin: 0;
    color: var(--fg);
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1.75rem;
    margin: 0;
    width: 64vw;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 500;
}

.social-links {
    /* Setting position */
    position: absolute;
    top: calc(100dvh - 4rem);
    display: flex;
    gap: 1rem;
    align-items: center;
}

.social-links img {
    height: auto;
    width: 2rem;
}

@media only screen and (min-width: 600px) {
    h1, h2, h3, h4, h5, h6 {
        font-size: 1.5rem;
        width: 80vw;
    }
}

@media only screen and (min-width: 700px) {
    h1, h2, h3, h4, h5, h6 {
        width: 64vw;
    }
}

@media only screen and (min-width: 850px) {
    h1, h2, h3, h4, h5, h6 {
        font-size: 2rem;
        width: 50vw;
    }
}

@media only screen and (min-width: 1000px) {
    h1, h2, h3, h4, h5, h6 {
        font-size: 2.25rem;
        width: 40vw;
    }
}